<template lang="pug">
  .home
    WebCamera
</template>

<script>
import WebCamera from '@/components/WebCamera.vue';

export default {
  name: 'Home',
  components: {
    WebCamera,
  },
};
</script>
