<template lang="pug">
  .wrapper
    div
      video(ref="video" id="video" preload="none" width="140" height="180" autoplay muted)
      video(ref="remoteVideo" id="remoteVideo" preload="none" width="640" height="480" autoplay)
    .call(v-if="calling")
      input(v-model="callId" placeholder="")
      button(id="snapbtn" @click="call(callId)") Call
      h4 Your ID:  {{ id }}
</template>

<script>
import Peer from 'peerjs';

export default {
  name: 'WebCam',
  props: {
    msg: String,
  },
  data() {
    return {
      calling: true,
      streaming: false,
      video: {},
      remoteVideo: {},
      canvas: null,
      startbutton: null,
      height: 300,
      width: 350,
      peer: null,
      id: null,
      callId: null,
    };
  },
  methods: {
    call() {
      navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then((stream) => {
        const call = this.peer.call(this.callId, stream);
        call.on('stream', (remoteStream) => {
          this.calling = false;
          this.remoteVideo.srcObject = remoteStream;
        });
        call.on('error', (err) => console.log(err));
      }).catch((err) => {
        throw err;
      });
    },
    answer(call) {
      navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then((stream) => {
        call.answer(stream); // Answer the call with an A/V stream.
        call.on('stream', (remoteStream) => {
          this.calling = false;
          this.remoteVideo.srcObject = remoteStream;
        });
        call.on('error', (err) => console.log(err));
      }).catch((err) => {
        throw err;
      });
    },
    startPeer() {
      this.peer = new Peer({
        host: 'farkhad-chat.herokuapp.com',
        port: 443,
        path: '/peerjs',
        // secure: true,
      });
    },
    setupCamera() {
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then((stream) => {
          this.video.srcObject = stream;
        }).catch((err) => {
          alert('You need to turn on your camera');
          console.log(err);
        });
      }
    },
  },
  mounted() {
    this.video = this.$refs.video;
    this.remoteVideo = this.$refs.remoteVideo;
    this.setupCamera();
    this.startPeer();
    this.peer.on('call', this.answer);
    this.peer.on('open', (id) => { this.id = id; });
    this.peer.on('error', (err) => { throw err; });
  },
};
</script>

<style scoped>
.call {
  background: transparent;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#video, #remoteVideo {
  position: relative;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#remoteVideo {
  width: 100%!important;
  height: auto!important;
  z-index: -22;
  top: -180px;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video {
  float: right;
  right: 5px;
}
</style>
